<div class="module1">
	<div>
		<span>my name is {{moduleName}}.</span>
		<p></p>
		<input type="button" value="ng-repeat" ng-click="testNgReapeat()">
		<input type="button" value="test" ng-click="test()">
		<input type="button" value="testGet" ng-click="testGet()">
		<input type="button" value="testPost" ng-click="testPost()">
		<input type="button" value="testPut" ng-click="testPut()">
		<input type="button" value="testDelete" ng-click="testDelete()">
	</div>
	<div>
		<table>
			<tr>
				<td>name</td>
				<td>descp</td>
			</tr>
			<tr ng-repeat="item in testRepeat">
				<td ng-bind="item.name"></td>
				<td ng-bind="item.descp"></td>
			</tr>
		</table>
	</div>
</div>